WebAPI-Practice/bin/Debug/net8.0/Microsoft.OpenApi.dll
WebAPI-Practice/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
WebAPI-Practice/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WebAPI-Practice/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-P.FA5F9161.Up2Date
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.csproj.AssemblyReference.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.MvcApplicationPartsAssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/apphost.exe
WebAPI-Practice/obj/Debug/net8.0/ref/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/refint/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfo.cs
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.AssemblyInfoInputs.cache
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.pdb
WebAPI-Practice/obj/Debug/net8.0/WebAPI-Practice.sourcelink.json
WebAPI-Practice/obj/rider.project.restore.info
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.dll
WebAPI-Practice/bin/Debug/net8.0/WebAPI-Practice.exe
